.container {
    max-width: 1200px;
    margin: 0 auto;
}

.MuiPaper-root {
    max-width: 1200px !important;
}

.content-panel {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
}

/**** Mobile ****/

@media (max-width: 860px) {
    .content-panel {
        grid-template-columns: 1fr;
        min-height: 100px;
    }

    .right-panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px) {

    .right-panel {
        display: grid;
        grid-template-columns: 1fr;
    }

}