.right-panel {
    display: grid;
    grid-template-columns: repeat(1, 33% 33% 33%);
    align-content: baseline;
    border: 3px dashed rgb(209, 209, 209);
    border-radius: 10px;
    padding: 10px;
    align-content: baseline;
    text-align: center;
    gap: 30px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 395px;
}

.right-panel.empty {
    grid-template-columns: 1fr;
}